### Used Car Price Prediction

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline

In [5]:
df = pd.read_csv("cardekho_imputated.csv")

In [6]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [7]:
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [8]:
## Remove the unnecessary Columns
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [9]:
df.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [10]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [11]:
## Getting All Different Types of Features
num_features=[feature for feature in df.columns if df[feature].dtype !='O']
print('Num of Numerical features :',len(num_features))

cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Cat Features :',len(cat_features))

discreate_features = [feature for feature in num_features if len(df[feature].unique())<25]
print('Num of Discreate Feature :',len(discreate_features))

continuous_features = [feature for feature in num_features if feature not in discreate_features]
print('Num of Continuous Feature :',len(continuous_features))

Num of Numerical features : 8
Num of Cat Features : 4
Num of Discreate Feature : 2
Num of Continuous Feature : 6

In [12]:
## Independent and Dependent Features
from sklearn.model_selection import train_test_split
X=df.drop(['selling_price'],axis=1)
y=df['selling_price']

### Feature Encoding and Scaling

In [13]:
df['model'].unique

<bound method Series.unique of 0            Alto
1           Grand
2             i20
3            Alto
4        Ecosport
           ...
15406         i10
15407      Ertiga
15408       Rapid
15409      XUV500
15410        City
Name: model, Length: 15411, dtype: object>

In [15]:
len(df['model'].unique())

120

In [16]:
df['model'].value_counts()

model
i20             906
Swift Dzire     890
Swift           781
Alto            778
City            757
               ...
Altroz            1
C                 1
Ghost             1
Quattroporte      1
Gurkha            1
Name: count, Length: 120, dtype: int64

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [19]:
X.head()

,Unnamed: 0,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [21]:
len(df['seller_type'].unique()),len(df['fuel_type'].unique()),len(df['transmission_type'].unique())

(3, 5, 2)

In [22]:
# Create Column Transformer with 3 types of Transformer
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,onehot_columns),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [23]:
X=preprocessor.fit_transform(X)

In [25]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.738694,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.738516,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.738339,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.738162,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-1.737985,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.723327,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.723859,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.724036,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.724213,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.724391,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [24]:
X

array([[ 1.        ,  0.        ,  0.        , ..., -1.32425883,
        -1.26335238, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43257082, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.02291783,
         0.06822523, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  1.32979434,
         0.91715831,  2.07344426],
       [ 0.        ,  0.        ,  0.        , ...,  0.02099878,
         0.39588361, -0.40302241]], shape=(15411, 15))

In [26]:
# Separate dataset into train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape , X_test.shape

((12328, 15), (3083, 15))

### Model Training and Model Selection

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression , Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,root_mean_squared_error

In [29]:
## Create a Function to Evaluate the model
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse = root_mean_squared_error(true,predicted)
    r2_sco= r2_score(true,predicted)
    return mae , mse , r2_sco , rmse

In [30]:
## Beginning Model Training
models = {
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest Regressor":RandomForestRegressor()
}

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate Train and Test Dataset
    model_train_name , model_train_rmse , model_train_r2,model_train_mae = evaluate_model(y_train , y_train_pred)
    model_test_name , model_test_rmse , model_test_r2,model_test_mae = evaluate_model(y_test , y_test_pred)

    print(list(models.keys())[i])

    print('Model performance for Training set')
    print("Root Mean Squared Error : {:.4f}",format(model_train_rmse))
    print("Mean Absolte Error : {:.4f}",format(model_train_mae))
    print("R2 Score :{:.4f}",format(model_train_r2))

    print('----------------------------------------------------')

    print('Model performance for Test set')
    print("--Root Mean Squared Error : {:.4f}",format(model_test_rmse))
    print("--Mean Absolute Error : {: .4f}",format(model_test_mae))
    print("--R2 Score : {:.4f}",format(model_test_r2))

    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
Root Mean Squared Error : {:.4f} 306749877172.0584
Mean Absolte Error : {:.4f} 553850.0493563744
R2 Score :{:.4f} 0.6217796295888354
----------------------------------------------------
Model performance for Test set
--Root Mean Squared Error : {:.4f} 252588750547.22803
--Mean Absolute Error : {: .4f} 502582.0833925818
--R2 Score : {:.4f} 0.6644595369594529
===================================


Lasso
Model performance for Training set
Root Mean Squared Error : {:.4f} 306749882060.90216
Mean Absolte Error : {:.4f} 553850.0537698829
R2 Score :{:.4f} 0.6217796235609265
----------------------------------------------------
Model performance for Test set
--Root Mean Squared Error : {:.4f} 252587811682.4362
--Mean Absolute Error : {: .4f} 502581.1493504668
--R2 Score : {:.4f} 0.6644607841532661
===================================


Ridge
Model performance for Training set
Root Mean Squared Error : {:.4f} 306750591340.8743
Mean Absolte Error : {:.4f} 553850.694087201
R2 Score :{:.4f} 0.6217787490238728
----------------------------------------------------
Model performance for Test set
--Root Mean Squared Error : {:.4f} 252578974672.5163
--Mean Absolute Error : {: .4f} 502572.3576486438
--R2 Score : {:.4f} 0.6644725232920599
===================================


K-Neighbors Regressor
Model performance for Training set
Root Mean Squared Error : {:.4f} 112533958049.96756
Mean Absolte Error : {:.4f} 335460.8144775893
R2 Score :{:.4f} 0.8612464471383652
----------------------------------------------------
Model performance for Test set
--Root Mean Squared Error : {:.4f} 91424152395.59682
--Mean Absolute Error : {: .4f} 302364.27103015466
--R2 Score : {:.4f} 0.8785515888516486
===================================


Decision Tree
Model performance for Training set
Root Mean Squared Error : {:.4f} 0.0
Mean Absolte Error : {:.4f} 0.0
R2 Score :{:.4f} 1.0
----------------------------------------------------
Model performance for Test set
--Root Mean Squared Error : {:.4f} 104240055551.6137
--Mean Absolute Error : {: .4f} 322862.2857374545
--R2 Score : {:.4f} 0.8615268636018649
===================================


Random Forest Regressor
Model performance for Training set
Root Mean Squared Error : {:.4f} 16288834340.720312
Mean Absolte Error : {:.4f} 127627.71776036863
R2 Score :{:.4f} 0.9799159855752518
----------------------------------------------------
Model performance for Test set
--Root Mean Squared Error : {:.4f} 55696594290.89361
--Mean Absolute Error : {: .4f} 236001.2590875176
--R2 Score : {:.4f} 0.92601229865677
===================================

In [31]:
# Initialize few parameter for Hyperparameter Tuning
knn_params = {"n_neighbors":[2,3,10,20,40,50]}

rf_params = {"max_depth":[5,8,15,None,10],
             "max_features":[5,7,"auto",8],
             "min_samples_split":[2,8,15,20],
             "n_estimators":[100,200,500,1000]}

In [32]:
# Models List for Hyper Parameter Tuning
randomcv_models = [('KNN',KNeighborsRegressor(),knn_params),
                   ('RF',RandomForestRegressor(),rf_params)]

In [33]:
## Hyper Paramter Tuning
from sklearn.model_selection import RandomizedSearchCV

model_param ={}
for name , model ,param in randomcv_models:
    random = RandomizedSearchCV(estimator=model,param_distributions=param,
                                n_iter=100,cv=3,verbose=2,n_jobs=-1)
    
    random.fit(X_train,y_train)
    model_param[name]=random.best_params_

for model_name in model_param:
    print(f"---------------Best Params for {model_name}-----------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
---------------Best Params for KNN-----------
{'n_neighbors': 2}
---------------Best Params for RF-----------
{'n_estimators': 200, 'min_samples_split': 2, 'max_features': 5, 'max_depth': None}

## Retraining the Model With Best params

In [34]:
## Beginning Model Training
models = {
    "K-Neighbors Regressor": KNeighborsRegressor(n_neighbors=2),
    
    "Random Forest Regressor":RandomForestRegressor(n_estimators=200,min_samples_split=2,max_features=5,max_depth=None)
}

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    # Evaluate Train and Test Dataset
    model_train_name , model_train_rmse , model_train_r2,model_train_mae = evaluate_model(y_train , y_train_pred)
    model_test_name , model_test_rmse , model_test_r2,model_test_mae = evaluate_model(y_test , y_test_pred)

    print(list(models.keys())[i])

    print('Model performance for Training set')
    print("Root Mean Squared Error : {:.4f}",format(model_train_rmse))
    print("Mean Absolte Error : {:.4f}",format(model_train_mae))
    print("R2 Score :{:.4f}",format(model_train_r2))

    print('----------------------------------------------------')

    print('Model performance for Test set')
    print("--Root Mean Squared Error : {:.4f}",format(model_test_rmse))
    print("--Mean Absolute Error : {: .4f}",format(model_test_mae))
    print("--R2 Score : {:.4f}",format(model_test_r2))

    print('='*35)
    print('\n')

K-Neighbors Regressor
Model performance for Training set
Root Mean Squared Error : {:.4f} 49984049643.088905
Mean Absolte Error : {:.4f} 223571.12882277288
R2 Score :{:.4f} 0.9383700298596854
----------------------------------------------------
Model performance for Test set
--Root Mean Squared Error : {:.4f} 105846700175.3568
--Mean Absolute Error : {: .4f} 325340.89840559056
--R2 Score : {:.4f} 0.8593925869176324
===================================


Random Forest Regressor
Model performance for Training set
Root Mean Squared Error : {:.4f} 14373266431.104723
Mean Absolte Error : {:.4f} 119888.5583827945
R2 Score :{:.4f} 0.9822778668936791
----------------------------------------------------
Model performance for Test set
--Root Mean Squared Error : {:.4f} 47898079591.095665
--Mean Absolute Error : {: .4f} 218856.2989522935
--R2 Score : {:.4f} 0.9363718939583409
===================================